poetry.lock
*.log
*.synctex(busy)
*.aux
*.auxlock
*.bcf
*.nav
*.out
*.pdf
*.pyg
*.run.xml
*.snm
*.synctex.gz
*.toc
*.pygtex
*.pygstyle
*.vrb
*.bbl
*.blg
*.DS_Store
*.fdb_latexmk
*.fls
*.pyc
europe/.key
.path
model/gen.png
model/generator_distribution.png
model/lines.png
model/load_distribution.png
model/load.png
model/etrago_data_egon2035.backup
model/overloading.gif
model/loading_and_gen.gif
