poetry.lock
*.log
*.synctex(busy)
*.aux
*.auxlock
*.bcf
*.nav
*.out
*.pdf
*.pyg
*.run.xml
*.snm
*.synctex.gz
*.toc
*.pygtex
*.pygstyle
*.vrb
*.bbl
*.blg
*.DS_Store
presentation/termin1/Präsentation.fdb_latexmk
presentation/termin1/Präsentation.fls
